@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

body {
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@font-face {
  font-family: RivieraNightsTrialExtraLight;
  src: url(./public/fonts/RivieraNightsTrial-ExtraLight/RivieraNightsTrial-Light.otf);
}

@font-face {
  font-family: RivieraNightsTrialblack;
  src: url(./public/fonts/RivieraNightsTrial-Black/RivieraNightsTrial-Black.otf);
}

@font-face {
  font-family: RivieraNightsTrialBold;
  src: url(./public/fonts/RivieraNightsTrial-Bold/RivieraNightsTrial-Bold.otf);
}

@font-face {
  font-family: RivieraNightsTrialLight;
  src: url(./public/fonts/RivieraNightsTrial-light/RivieraNightsTrial-Ultralight.otf);
}

@font-face {
  font-family: RivieraNightsTrialMedium;
  src: url(./public/fonts/RivieraNightsTrial-Medium/RivieraNightsTrial-Medium.otf);
}

@font-face {
  font-family: RivieraNightsTrialRegular;
  src: url(./public/fonts/RivieraNightsTrial-Regular.otf);
}

.Hero-bg {
  position: relative;
  width: 100%;
}

.Hero-bg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 100% 100%;
  background-image: url(./public/images/Hero-bg.png);
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
}