@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .primary-btn {
    @apply bg-[#EEE4DB] py-3 px-[30px] font-RivieraNightsBold text-melonseed text-base leading-[140%];
  }

  .secondary-btn {
    @apply bg-[#252525] py-3 px-[42px] font-plusJarka font-medium text-white text-base leading-[140%];
  }

  .transparent-btn {
    @apply bg-transparent py-3 px-[42px] font-RivieraNightsBold text-white text-base leading-[140%];
  }
  @media only screen and (min-width: 769px) {
    .primary-btn,
    .secondary-btn,
    .transparent-btn {
      @apply py-5;
    }
  }
  .main-headings {
    @apply mb-6 font-RivieraNightsMedium text-[35px] text-[#2A2B2A] leading-[130%];
  }

  @media only screen and (min-width: 769px) {
    .main-headings {
      @apply mb-[74px] text-[48px];
    }
  }

  .our-product {
    @apply absolute bottom-[22px] text-[24px] font-RivieraNightsMedium leading-[120%] text-[#FCFCFA];
  }

  .advantage-section-heading {
    @apply text-black font-RivieraNightsMedium leading-[120%] text-2xl mt-10 mb-5;
  }

  .advantage-section {
    @apply font-plusJarka font-normal leading-[170%] text-sm text-black;
  }

  .real-experience {
    @apply text-black font-RivieraNightsRegular text-lg leading-[150%] max-w-[469px];
  }

  @media only screen and (min-width: 769px) {
    .real-experience {
      @apply text-3xl;
    }
  }

  .showcase-tags {
    @apply absolute bottom-10 text-white font-plusJarka font-medium leading-[120%] text-sm;
  }

  .blog {
    @apply text-black font-RivieraNightsMedium leading-[120%] text-base pt-5 pb-[30px];
  }

  @media only screen and (min-width: 769px) {
    .real-experience {
      @apply text-2xl pt-[38px] pb-[54px];
    }
  }

  .footer-links {
    @apply text-sm font-normal font-plusJarka leading-[170%] space-y-2 flex flex-col;
  }
}

@font-face {
  font-family: RivieraNightsTrialExtraLight;
  src: url("/fonts/RivieraNightsTrial-Light.otf");
}

@font-face {
  font-family: RivieraNightsTrialblack;
  src: url("/fonts/RivieraNightsTrial-Black.otf");
}

@font-face {
  font-family: RivieraNightsTrialBold;
  src: url("/fonts/RivieraNightsTrial-Bold.otf");
}

@font-face {
  font-family: RivieraNightsTrialLight;
  src: url("/fonts/RivieraNightsTrial-Ultralight.otf");
}

@font-face {
  font-family: RivieraNightsTrialMedium;
  src: url("/fonts/RivieraNightsTrial-Medium.otf");
}

@font-face {
  font-family: RivieraNightsTrialRegular;
  src: url("/fonts/RivieraNightsTrial-Regular.otf");
}

.Hero-bg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 100% 100%;
  background-image: url("/public/images/Herobg.png");
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
}

/* SIDEBAR STYLE  */
#sidebar {
  position: fixed;
  left: -300px;
  width: 280px;
  height: 100vh;
  top: 0px;
  background-color: black;
  overflow-y: auto;
  transition: all ease-in-out 0.4s;
}

.translate-x-full#sidebar {
  left: 0px;
}

/* SWIPER STYLE  */

.swiper {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(0%);
    z-index: 2;
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(0%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
.continue:hover span {
  color: red;
}
.continue span {
  transition: all ease-in-out 0.5s ease-in-out;
}

.overflow-hidden {
  overflow: hidden;
}
